<h1>打刻ページ</h1>

<div class="main-page">
  <div class="main-content" align="center">
<%= form_tag(attendance_path, method: :post) do %>
  <%= select_tag :employee_id, options_for_select(@employees.map { |employee| [employee.name, employee.id] }), class: "pulldown-lg" %>
  </p>
  <%= submit_tag "出勤", class: "btn-in-lg", disabled: @employees.empty? %>
  <%= submit_tag "退勤", class: "btn-out-lg", disabled: @employees.empty? || @disabled.map{|e| puts '++++++++++++++++++++++++++++++++++++++++++'; puts :employee_id; false}[0] || @disabled[:employee_id] %>
<% end %>
  </div>
  </p>
  <%= link_to 'Back', root_path %>
</div>