<h1>勤怠集計ページ</h1>


<div class="main-page">
  <div class="main-content">

<table>
  <thead>
    <tr>
      <th>従業員名</th>
      <th>出勤日数</th>
      <th>勤務時間（h）</th>
      <th>賃金（円）</th>
    </tr>
  </thead>
  <tbody>
    <% if @employee %>
      <tr>
        <td><%= @employee.name %></td>
        <td><%= @attendance_counts[@employee.id] || 0 %></td>
        <td><%= @attendance_hours[@employee.id] || 0 %></td>
        <td><%= @attendance_wage[@employee.id] || 0 %></td>
      </tr>
    <% else %>
      <% current_user.employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= @attendance_counts[employee.id] || 0 %></td>
          <td><%= @attendance_hours[employee.id] || 0 %></td>
          <td><%= @attendance_wage[employee.id] || 0 %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>従業員名</th>
      <th>勤務時間（h）</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_list.each do |record| %>
      <tr>
        <td><%= record["date"] %></td>
        <td><%= record["enployee"] || 0 %></td>
        <td><%= record["hours"] || 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  </p>
  <%= link_to 'Back', admin_path %>
</div>
