<h1>勤怠集計ページ</h1>


<div class="main-page">
  <div class="main-content">
  <%= form_with url: '/admin/tally', method: :get, local: true do |f| %>
  <label>月を選択</label>
  <%= raw sprintf(f.date_select(
    :date,
    start_year: (Time.now.year - 1),
    end_year: (Time.now.year + 1),
    default: DateTime.new(@year.to_i, @month.to_i, 1) || Time.now,
    use_month_numbers: true,
    discard_day: true,
    date_separator:'%s'
    ),"年") + "月"
     %>
  <%= f.submit '絞り込み', class: 'btn btn-primary' %>
<% end %>
<label>従業員を選択</label>
<%= form_tag(admin_tally_path, method: :get) do %>
  <%= select_tag(:employee_id, options_from_collection_for_select(Employee.all, :id, :name, params[:employee_id]), include_blank: true) %>
  <%= submit_tag("絞り込み") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>従業員名</th>
      <th>出勤日数</th>
      <th>勤務時間</th>
      <th>賃金（円）</th>
    </tr>
  </thead>
  <tbody>
    <% if @employee %>
      <tr>
        <td><%= @employee.name %></td>
        <td><%= @attendance_counts[@employee.id] || 0 %></td>
        <td><%= "#{@attendance_minutes[@employee.id].to_i/60}時間#{@attendance_minutes[@employee.id].to_i%60}分" || 0 %></td>
        <td><%= @attendance_wage[@employee.id] || 0 %></td>
      </tr>
    <% else %>
      <% current_user.employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= @attendance_counts[employee.id] || 0 %></td>
          <td><%= "#{@attendance_minutes[employee.id].to_i/60}時間#{@attendance_minutes[employee.id].to_i%60}分" || 0 %></td>
          <td><%= @attendance_wage[employee.id] || 0 %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>従業員名</th>
      <th>出勤時刻</th>
      <th>退勤時刻</th>
      <th>勤務時間</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_list.each do |record| %>
      <tr>
        <td><%= record["date"] %></td>
        <td><%= record["enployee"] || 0 %></td>
        <td><%= record["start"].strftime('%H:%M') || 0 %></td>
        <td><%= record["end"].strftime('%H:%M') || 0 %></td>
        <td><%= "#{record["minutes"].to_i/60}時間#{record["minutes"].to_i%60}分" || 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  </p>
  <%= link_to 'Back', admin_path %>
</div>
